env = ""
project_name = "cloud-transcription-app"
aws_region = ["ap-northeast-1", "ap-northeast-3"]
aws_az = ["ap-northeast-1a", "ap-northeast-1c", "ap-northeast-1d"]
timezone      = "Asia/Tokyo"
email_address = ""
account_id    = ""
s3_daily_dir_image_tag = "latest"
gen_nano_timestamp_image_tag = "latest"
transcription_result_reader_image_tag = ""
transcription_job_reader_image_tag = ""
transcription_lang = "ja-JP"
bedrock_model_id = ""