name: Deploy Workflow
on:
  workflow_call:
    secrets:
      MY_GITHUB_ACCESS_TOKEN:
        required: true
      EXECUTOR_ROLE_ARN:
        required: true
      EXECUTOR_ROLE_PRINCIPAL_NAME:
        required: true
      AWS_ACCOUNT_ID:
        required: true
      TFSTATE_S3_BUCKET_ARN:
        required: true
      NOTIFICATION_EMAIL_ADDRESS:
        required: true
      MODEL_ID:
        required: true

permissions:
  id-token: write
  contents: read

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
          - name: Checkout repository
            uses: actions/checkout@v6
            with:
              token: ${{ secrets.MY_GITHUB_ACCESS_TOKEN }}
              fetch-depth: 1
              # sparse-checkout: ''
        
          - name: Configure AWS Credentials for Japan region audience
            uses: aws-actions/configure-aws-credentials@v5.1.0
            with:
              audience: sts.amazonaws.com
              aws-region: ap-northeast-1
              role-to-assume: ${{ secrets.EXECUTOR_ROLE_ARN }}
              
          - name: Set Lambda Latest image
            id: set-lambda-latest-image
            run: |
              for name in $(ls -1 ./event/src); do
                current_image=$(aws lambda get-function --function-name prod-$(echo ${name//_/-}) | jq '.Code.ImageUri' | sed -e 's/^.*\///' | sed -e 's/\"$//' | awk -F \: '{print $2}';)
                status=0
                aws ecr describe-images --repository-name prod-cloud-transcription-app --image-ids imageTag=${name}-${{ github.sha }} > /dev/null 2>&1 || status=$?;
                if [ $status -eq 0 ]; then
                  echo "${name}=${name}-${{ github.sha }}" >> "$GITHUB_OUTPUT"
                elif [ $status -eq 254 ]; then
                  echo "${name}=${current_image}" >> "$GITHUB_OUTPUT"
                else
                  exit 1
                fi
              done

          - name: Setup terraform variables
            id: setup_tfvars
            working-directory: infra/src/envs/prod
            run: |
              cat << EOF > ./terraform.tfvars
              env                                   = "prod"
              project_name                          = "cloud-transcription-app"
              aws_region                            = ["ap-northeast-1", "ap-northeast-3"]
              aws_az                                = ["ap-northeast-1a", "ap-northeast-1c", "ap-northeast-1d"]
              email_from_address                    = "${{ secrets.NOTIFICATION_EMAIL_ADDRESS }}"
              email_to_address                      = ["${{ secrets.NOTIFICATION_EMAIL_ADDRESS }}"]
              account_id                            = "${{ secrets.AWS_ACCOUNT_ID }}"
              executor_role_arn                     = "${{ secrets.EXECUTOR_ROLE_ARN }}"
              executor_role_principal_name          = "${{ secrets.EXECUTOR_ROLE_PRINCIPAL_NAME }}"
              transcription_lang                    = "ja-JP"
              timezone                              = "Asia/Tokyo"
              bedrock_model_id                      = "${{ secrets.MODEL_ID }}"
              github_owner                          = "${{ github.repository_owner }}"
              github_repo                           = "$(echo ${{ github.repository }} | awk -F / '{print $2}')"
              s3_tfstate_arn                        = "${{ secrets.TFSTATE_S3_BUCKET_ARN }}"
              EOF
              
          - name: Set Terraform version from Dockerfile
            id: docker-terraform-version
            working-directory: infra
            run: |
              echo "TERRAFORM_VERSION=$(grep -m 1 BASE_IMAGE ./Dockerfile | awk -F : '{print $2}' | awk -F - '{print $1}' | sed 's/^$/latest/')" >> "$GITHUB_OUTPUT"
        
          - name: Setup Terraform
            uses: hashicorp/setup-terraform@v3
            with:
              terraform_version: ${{  steps.docker-terraform-version.outputs.TERRAFORM_VERSION }}
          
          - name: Terraform Init
            working-directory: infra/src/envs/prod
            run: terraform init --input=false
          
          - name: Terraform apply
            run: terraform -chdir=./infra/src/envs/prod apply -auto-approve -input=false $(for name in $(ls -1 ./event/src); do echo -var ${name}_image_tag=$(echo '${{ toJson(steps.set-lambda-latest-image.outputs) }}' | jq ".${name}" | sed 's/^"//;s/"$//') | sed -z s/\\n$/' '/; done)