name: Deploy
on:
  workflow_run:
    workflows: ["Build Event Function"]
    types:
      - completed
    branches:
      - main
  push:
    branches:
      - main
    paths-ignore:
      - 'event/**'
      - '.github/workflows/build-event-function.yml'

permissions:
  id-token: write
  contents: read

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
          - name: Checkout repository
            uses: actions/checkout@v6
            with:
              token: ${{ secrets.MY_GITHUB_ACCESS_TOKEN }}
              fetch-depth: 1
              # sparse-checkout: ''
        
          - name: Configure AWS Credentials for Japan region audience
            uses: aws-actions/configure-aws-credentials@v5.1.0
            with:
              audience: sts.amazonaws.com
              aws-region: ap-northeast-1
              role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME_OIDC_ARN }}
              
          - name: Set Lambda latest image
            id: set-lambda-images
            run: |
              for name in $(ls -1 ./event/src); do \
                current_image=$(aws lambda get-function --function-name prod-$(echo ${name//_/-}) | jq '.Code.ImageUri' | sed -e 's/^.*\///' | sed -e 's/\"$//';) \
                aws ecr describe-images --repository-name prod-cloud-transcription-app --image-ids imageTag=${name}:${{ github.sha }} || echo "${name}=${current_image}" >> "$GITHUB_OUTPUT"; continue; \
                echo "${name}=${name}:${{ github.sha }}" >> "$GITHUB_OUTPUT"; \
              done


