name: Main Workflow
on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  build-event-function:
    uses: ./.github/workflows/build-event-function.yml
    secrets:
      MY_GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      EXECUTOR_ROLE_ARN: ${{ secrets.EXECUTOR_ROLE_ARN }}
      AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
    
  deploy:   
    uses: ./.github/workflows/deploy.yml
    needs: build-event-function
    secrets:
      MY_GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      EXECUTOR_ROLE_ARN: ${{ secrets.EXECUTOR_ROLE_ARN }}
      EXECUTOR_ROLE_PRINCIPAL_NAME: ${{ secrets.EXECUTOR_ROLE_PRINCIPAL_NAME }}
      AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
      NOTIFICATION_EMAIL_ADDRESS: ${{ secrets.NOTIFICATION_EMAIL_ADDRESS }}
      MODEL_ID: ${{ secrets.MODEL_ID }}
