name: Main Workflow
on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  build-event-function:
    uses: ./.github/workflows/build-event-function.yml
    secrets:
      MY_GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      AWS_ROLE_TO_ASSUME_ARN: ${{ secrets.AWS_ROLE_TO_ASSUME_ARN }}
      IMAGE_REGISTRY_URI: ${{ secrets.IMAGE_REGISTRY_URI }}
    
  deploy:   
    uses: ./.github/workflows/deploy.yml
    needs: build-event-function
    secrets:
      MY_GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      AWS_ROLE_TO_ASSUME_ARN: ${{ secrets.AWS_ROLE_TO_ASSUME_ARN }}
      TERRAFORM_IAM_USER_NAME: ${{ secrets.TERRAFORM_IAM_USER_NAME }}
      AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
      TFSTATE_S3_BUCKET_ARN: ${{ secrets.TFSTATE_S3_BUCKET_ARN }}
      NOTIFICATION_EMAIL_ADDRESS: ${{ secrets.NOTIFICATION_EMAIL_ADDRESS }}
      MODEL_ID: ${{ secrets.MODEL_ID }}
